.teste{
    /* border: 1px solid red; */
    text-align: start;
}

.title{
    text-transform: uppercase;
}


@media screen and (max-width: 768px) {

    .teste{
        /* border: 1px solid red; */
        text-align: center;
    }
}