
.container-carrosel{

    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.btn-carrossel{
    align-items: start;
    justify-self: start;
    justify-content: start;

}

.image-carrossel{
    width: 100%;
}

.carousel-image-size {
    width: 100%;
    /* Largeur de l'image */
    height: 500px;
    /* Hauteur de l'image - ajustez selon vos besoins */
}
.texto-banner{
    display: flex;
    max-width: 40%;
    padding-bottom: 3%;
}

@media only screen and(max-width: 600px) {
    .texto-banner{

        max-width: 90%;

    }
}