.contact{

/* width: "100%"; */
    /* justify-self: 'center'; */
    /* align-items: start; */
    /* justify-content: start; */
}

.contact_title{
    font-family: var(--font-style);
}

.form_img{
    max-height: 500px;
    background-color: aqua;
}

.flip-image {
    /* transform: scaleY(-1); */
}

.flex-column {
    width: 100%;
    /* Ajustez la largeur du div selon vos besoins */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color:aqua ; */
}