.icons{
    background-color: #f2515e;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-left: 0.7rem;
}

.teste1{
    display: flex;
    justify-content: center;
}

.teste2{
    margin-left: 1rem;
}